{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", { root: ["./src/js"] }],
    "@babel/plugin-transform-class-properties",
    ["@babel/plugin-transform-runtime", { regenerator: true }]
  ]
}
